@use "./layouts" as *;
@use "./themes" as *;
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--surface-200);
  color: var(--text-100);
}

.container {
  @include flex();
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--text-200);
}

button {
  padding: 10px 20px;
  background-color: var(--surface-100);
  color: var(--text-100);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--surface-90);
  }
}
